<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activationMode</key>
	<string>"onPress"</string>
	<key>alwaysHideOthers</key>
	<false/>
	<key>appKeyAssignments</key>
	<array>
		<string>{"app":{"identifier":"com.google.Chrome","originalName":"Chrome","path":"\/Applications\/Google Chrome.app","switchCount":0,"useCount":0},"index":0,"key":"f","launchIfNotRunning":true,"whenAlreadyFocusedAction":4}</string>
		<string>{"app":{"identifier":"org.zotero.zotero","originalName":"Zotero","path":"\/Applications\/Zotero.app","switchCount":0,"useCount":0},"index":0,"key":"d","launchIfNotRunning":true,"whenAlreadyFocusedAction":4}</string>
		<string>{"app":{"identifier":"com.openai.codex","originalName":"ChatGPT","path":"\/Applications\/ChatGPT.app","switchCount":0,"useCount":0},"index":0,"key":"s","launchIfNotRunning":true,"whenAlreadyFocusedAction":4}</string>
		<string>{"app":{"identifier":"md.obsidian","originalName":"Obsidian","path":"\/Applications\/Obsidian.app","switchCount":0,"useCount":0},"index":0,"key":"g","launchIfNotRunning":true,"whenAlreadyFocusedAction":4}</string>
		<string>{"app":{"identifier":"com.microsoft.VSCode","originalName":"Code","path":"\/Applications\/Visual Studio Code.app","switchCount":0,"useCount":0},"index":0,"key":"v","launchIfNotRunning":true,"whenAlreadyFocusedAction":4}</string>
		<string>{"app":{"identifier":"com.apple.Safari","originalName":"Safari","path":"\/Applications\/Safari.app","switchCount":0,"useCount":0},"index":0,"key":"e","launchIfNotRunning":true,"whenAlreadyFocusedAction":4}</string>
		<string>{"app":{"identifier":"com.apple.finder","originalName":"Finder","path":"\/System\/Library\/CoreServices\/Finder.app","switchCount":0,"useCount":0},"index":0,"key":"r","launchIfNotRunning":true,"whenAlreadyFocusedAction":4}</string>
		<string>{"app":{"identifier":"com.apple.Notes","originalName":"Notes","path":"\/System\/Applications\/Notes.app","switchCount":0,"useCount":0},"index":0,"key":"b","launchIfNotRunning":true,"whenAlreadyFocusedAction":4}</string>
	</array>
	<key>appSort</key>
	<string>"name"</string>
	<key>appSortReverse</key>
	<false/>
	<key>appSwitcherFeatures</key>
	<string>38</string>
	<key>appSwitcherOSDHeight</key>
	<real>600.0</real>
	<key>appSwitcherOSDWidth</key>
	<real>400.0</real>
	<key>assignKeyTriggerKeys</key>
	<array>
		<string>4</string>
		<string>5</string>
	</array>
	<key>createMissingSpaces</key>
	<true/>
	<key>enableAssignHotkey</key>
	<true/>
	<key>enableHideAndSettingsKeys</key>
	<true/>
	<key>enableHideOnFocusHotkey</key>
	<false/>
	<key>enableInstantSpaceSwitching</key>
	<true/>
	<key>enableStickySpaceSearch</key>
	<false/>
	<key>enableTabCycle</key>
	<true/>
	<key>enableWindowCycleKey</key>
	<true/>
	<key>enableWindowSpecialKeys</key>
	<true/>
	<key>exposeKey</key>
	<string>"period"</string>
	<key>focusBehaviour</key>
	<string>"allWindows"</string>
	<key>focusBehaviourMulti</key>
	<string>"sameSpaceWindow"</string>
	<key>focusBehaviourSingle</key>
	<string>"allWindows"</string>
	<key>focusOnKeyUp</key>
	<false/>
	<key>fuzzySearch</key>
	<false/>
	<key>hideOnFocusTriggerKeys</key>
	<array>
		<string>4</string>
		<string>0</string>
	</array>
	<key>hideOnlyFocusedAppOnMinus</key>
	<false/>
	<key>hideStaticSettings</key>
	<false/>
	<key>hijackCommandTab</key>
	<false/>
	<key>hijackWindowCycleHotkey</key>
	<true/>
	<key>ignoredApps</key>
	<array/>
	<key>ignoredKeys</key>
	<array>
		<string>h</string>
		<string>z</string>
		<string>l</string>
		<string>a</string>
		<string>y</string>
		<string>m</string>
		<string>x</string>
		<string>q</string>
		<string>j</string>
		<string>p</string>
		<string>o</string>
		<string>t</string>
		<string>u</string>
		<string>c</string>
		<string>w</string>
		<string>n</string>
		<string>i</string>
		<string>k</string>
	</array>
	<key>minimizeKey</key>
	<string>"minus"</string>
	<key>minimizeOnlyFocusedWindowOnMinus</key>
	<true/>
	<key>osdCurrentSpaceOnly</key>
	<false/>
	<key>osdLook</key>
	<string>{"accentColor":"system","appIconSize":30,"backgroundStyle":{"glass":{"opacity":0}},"cornerRadius":14,"density":"comfortable","focusStyle":"bar","fontStyle":"rounded","foregroundColor":"adaptive","iconStyle":"native","keycapColor":"adaptive","keycapStyle":"badge","rowSeparationStyle":"filled","searchBarStyle":"glassy"}</string>
	<key>overrideUserDefaults</key>
	<false/>
	<key>pauseApps</key>
	<array/>
	<key>searchMatchMode</key>
	<string>"anchored"</string>
	<key>searchOptionalPrefixes</key>
	<array>
		<string>google</string>
		<string>microsoft</string>
		<string>adobe</string>
		<string>apple</string>
		<string>amazon</string>
		<string>affinity</string>
		<string>jetbrains</string>
		<string>nvidia</string>
		<string>parallels</string>
		<string>elgato</string>
		<string>logitech</string>
		<string>synology</string>
		<string>wondershare</string>
		<string>the</string>
		<string>4k</string>
		<string>8k</string>
		<string>3d</string>
	</array>
	<key>searchQueryPins</key>
	<dict/>
	<key>showAppSwitcher</key>
	<false/>
	<key>showMenubarAppsInSearch</key>
	<true/>
	<key>showStageSwitcher</key>
	<true/>
	<key>showWindowSwitcher</key>
	<true/>
	<key>spaceMode</key>
	<string>0</string>
	<key>specialKey</key>
	<string>"equal"</string>
	<key>stageCloseAction</key>
	<string>0</string>
	<key>stageMinimizeKey</key>
	<string>"minus"</string>
	<key>stageReopenClosedItems</key>
	<true/>
	<key>stageRepositionKey</key>
	<string>"section"</string>
	<key>stageSpecialKey</key>
	<string>"equal"</string>
	<key>stageSwitchOSDDelay</key>
	<integer>80</integer>
	<key>stageSwitcherMirrorAppPlacement</key>
	<true/>
	<key>stageSwitcherOffsetRefHeight</key>
	<real>869.0</real>
	<key>stageTriggerKeys</key>
	<array/>
	<key>stages</key>
	<array/>
	<key>stickyAppSwitcher</key>
	<false/>
	<key>stickyAppSwitcherScope</key>
	<string>"rcmdOnly"</string>
	<key>switcherAppsOnly</key>
	<true/>
	<key>switcherMode</key>
	<string>0</string>
	<key>switcherScreenOffsetRefHeight</key>
	<real>869.0</real>
	<key>switcherScreenOffsetX</key>
	<real>0.0</real>
	<key>switcherScreenOffsetY</key>
	<real>0.0</real>
	<key>switcherScreenPlacement</key>
	<string>1</string>
	<key>tabCycleFocusOnKeyUp</key>
	<true/>
	<key>tabCycleInclude</key>
	<string>3</string>
	<key>tabCycleScope</key>
	<string>"auto"</string>
	<key>tabCycleSearchScope</key>
	<string>"allWindows"</string>
	<key>triggerKeys</key>
	<array>
		<string>3</string>
		<string>2</string>
		<string>1</string>
		<string>0</string>
	</array>
	<key>whenAlreadyFocusedAction</key>
	<string>4</string>
	<key>windowCycleKey</key>
	<string>"grave"</string>
	<key>windowKeyAssignments</key>
	<array/>
	<key>windowKeyMode</key>
	<string>"mixed"</string>
	<key>windowKeyPatterns</key>
	<array/>
	<key>windowMinimizeKey</key>
	<string>"minus"</string>
	<key>windowOnlySwitchOSDDelay</key>
	<integer>0</integer>
	<key>windowPatternGroups</key>
	<array/>
	<key>windowSearchOSDHeight</key>
	<real>420.0</real>
	<key>windowSearchOSDWidth</key>
	<real>480.0</real>
	<key>windowSpecialKey</key>
	<string>"equal"</string>
	<key>windowSwitchOSDDelay</key>
	<integer>150</integer>
	<key>windowSwitcherAppearance</key>
	<string>"comfortable"</string>
	<key>windowSwitcherDimFocused</key>
	<false/>
	<key>windowSwitcherFeatures</key>
	<string>57</string>
	<key>windowSwitcherMirrorAppPlacement</key>
	<true/>
	<key>windowSwitcherOffsetRefHeight</key>
	<real>869.0</real>
	<key>windowTitlePatterns</key>
	<array/>
	<key>windowTriggerKeys</key>
	<array>
		<string>5</string>
	</array>
</dict>
</plist>
